# Or ignore all pytest configuration files anywhere
**/pytest.ini

# Pytest cache
.pytest_cache/

# Ignore Python bytecode and cache folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all PNG images in the entire repository
*.png
